
.button{
    background-color:#337ab7;
    color: white;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}